.text-center{
	text-align: center;
}

.title{
  color:white;
}

body {
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:60vh;
  background-size:cover;
  background-image:url('../background.jpg');
  background-repeat: repeat;
}

input{
    width: 60%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #dedddd;    
    border-color: #cfdada;
    font-size: 25px;
    outline:none;
    margin-top:10px;
    background-color: transparent;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.barra{
  background-color: #598ddc;
  margin: 10px 0;
  position: relative;
  width: 60%;
  align-items: center;
  align-self: center;
  border: 1px solid;
}


.barra .text{
	z-index: 10;
	text-align: center;
	padding: 3px 5px;
	box-sizing: border-box;
	position: initial;
	width: 100%;
	color: black;
	font-size: 20px;
  padding: 20px;
  cursor: pointer;
}


.barra .text span{
	color:black;
  word-break: break-all;
}

.barra-error .text{
  color: #ab2b2b;
}

.lista-file{
  display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.iframeFile{
  position: absolute;
  width: 92%;
  padding: -14px;
  margin: 49px;
  display: none;
  margin-top: 6rem;
}

.iframeFile .html-document{
  height: 100vh;
  background: white;
  padding: 20px;
  overflow-y: scroll;
  width: 100%;
}

.iframeFile button{
  width: 25px;
  height: 26px;
  margin-left: 12px;
  margin-top: 5px;
  font-size: 32px;
  color: white;
  background-color: transparent;
  border: 0;
  left: 0;
  cursor: pointer;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.w3-modal {
  padding-top: 20px!important;
}

.w3-display-topright {
  font-size: 27px;
}