.text-center{
	text-align: center;
}

.title{
  color:white;
}

body {
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:60vh;
  background-size:cover;
  background-image:url('../background.jpg');
  background-repeat: no-repeat;
}

input{
    width: 60%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #dedddd;    
    border-color: #cfdada;
    font-size: 25px;
    outline:none;
    direction:ltr;
    margin-top:10px;
    text-align-last: justify;
    text-align: justify;
    background-color: transparent;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.barra{
  background-color: #598ddc;
  margin: 10px 0;
  position: relative;
  width: 60%;
  align-items: center;
  align-self: center;
  border: 1px solid;
}


.barra .text{
	z-index: 10;
	text-align: center;
	padding: 3px 5px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	color: black;
	font-size: 20px;
  padding: 20px;
  cursor: pointer;
}


.barra .text span{
	color:black;
  word-break: break-all;
}

.barra-error .text{
  color: #ab2b2b;
}

.lista-file{
  display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.iframeFile iframe{
  height:100vh;
}
