<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pesquisa em arquivo</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/assets/search/style.css" />


</head>

<body>
  <div class="container">
    <h1 class="text-center title">Pesquisar</h1>
    <input class="text-center" id="search-file" type="text" />
  </div>

  <div class="lista-file">
  </div>


  <div class="loader"></div>

  <div id="iframeFile" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="removeIframe()" class="w3-button w3-display-topright">&times;</span>

      </div>
    </div>
  </div>

</body>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
  integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/search/script.js"></script>


</html>